doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/jquery-ui/themes/cupertino/jquery-ui.min.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Righteous')
    link(rel='stylesheet', href='bower_components/fancybox/source/jquery.fancybox.css')
    link(rel='stylesheet', href='bower_components/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='bower_components/bower-xcharts/xcharts.min.css')
    link(rel='stylesheet', href='bower_components/select2/select2.css')
    link(rel='stylesheet', href='bower_components/Justified-Gallery/dist/css/justifiedGallery.css')
    link(rel='stylesheet', href='/devoops/css/style.css')

  body
    block content
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/jquery-ui/jquery-ui.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/Justified-Gallery/dist/js/jquery.justifiedGallery.min.js')
    script(src='bower_components/tinymce/tinymce.min.js')
    script(src='bower_components/tinymce/jquery.tinymce.min.js')
    script(src='devoops/js/devoops.js')